.resetPasswordContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.resetPasswordContainer h1 {
  font-size: 3rem;
  color: #3f3d56;
  margin-bottom: 2rem;
}

.resetPasswordContainer p {
  color: #3f3d56;
  font-size: 1rem;
  font-weight: bold;
}

.resetPasswordContainer input {
  width: 40%;
  padding: 1rem;
  margin: 2rem;
  color: #3f3d56;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 7px;
}

.resetPasswordContainer button {
  padding: 1rem;
  width: 40%;
  background-color: #fd9727;
  border: #fd9727;
  border-radius: 7px;
  font-weight: bold;
  color: #eeeeeeff;
  cursor: pointer;
}

.resetPasswordContainer img {
  width: 200px;
  height: 200px;
  margin: 2rem;
}

@media screen and (max-width: 550px) {
  .resetPasswordContainer h1 {
    font-size: 2rem;
    color: #3f3d56;
    margin-bottom: 2rem;
  }

  .resetPasswordContainer input {
    width: 90%;
  }

  .resetPasswordContainer button {
    width: 90%;
  }
}
