.mobilePassContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobilePassContainer p {
  color: #3f3d56;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.mobilePassContainer input {
  width: 100%;
  padding: 1rem;
  color: #3f3d56;
  background-color: #eeeeeeff;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 2rem;
}

.mobilePassContainer button {
  padding: 1rem;
  width: 100%;
  background-color: #fd9727;
  border: #fd9727;
  border-radius: 7px;
  font-weight: bold;
  color: #eeeeeeff;
  cursor: pointer;
  margin-bottom: 2rem;
}

.mobilePassContentContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
